<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Michael Phelps</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <nav>
  <ul class="navbar">
       <li><a href="index">Main</a></li>
      <li><a href="sport-achivements">Sport Achievements</a></li>
      <li><a href="gallery">Gallery</a></li>
    <li><a href="about-us">About Us</a></li>
    </ul>
  </nav>

  <img class="img" src="/images/mp3.jpg" id="mp3" alt="Michael Phelps">

  <section id="about" class="content-section">
    <h2>About Us</h2>
    <p>
      This page is a tribute to Michael Phelps, created for educational and inspirational purposes.
      Phelps' dedication, perseverance, and accomplishments continue to motivate athletes around the world.
    </p>
  </section>


  <footer>
    <p>© 2025 Tribute Page to Michael Phelps</p>
  </footer>
</body>
</html>
