<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Michael Phelps</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <nav>
   <ul class="navbar">
       <li><a href="index">Main</a></li>
      <li><a href="sport-achivements">Sport Achievements</a></li>
      <li><a href="gallery">Gallery</a></li>
    <li><a href="about-us">About Us</a></li>
    </ul>
  </nav>

  <header id="main" class="main-section">
    <h1>Michael Phelps</h1>
    <p>The most decorated Olympian of all time.</p>
  </header>
<img class="img" src="images/mp1.jpg" id="mp1" alt="Michael Phelps">
  <section id="achievements" class="content-section">
    <h2>Sport Achievements</h2>
    <ul>
      <li>🏅 23 Olympic Gold Medals</li>
      <li>🥈 3 Olympic Silver Medals</li>
      <li>🥉 2 Olympic Bronze Medals</li>
      <li>🌍 Multiple World Records in Swimming</li>
    </ul>
  </section>
  

  <footer>
    <p>© 2025 Tribute Page to Michael Phelps</p>
  </footer>
</body>
</html>
